body {
  font-family: Arial, Helvetica, sans-serif;
}

#promo {
  text-align: center;
  padding: 40px;
  background: url(pepperPlant.jpg) no-repeat;
  background-size: cover;
  margin-top: 65px;
}

.jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(255,255,255,0.8);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 992px) {
  #promo .jumbotron {
    padding: 20px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  #promo {
    padding: 20px;
  }
}

.site-section {
  text-align: center;
  /*padding-bottom: 70px;*/
}

.site-section h1 {
  font-weight: normal;
  margin-bottom: 30px;
  /*margin-top: 60px;*/
}

#welcome p {
  max-width: 800px;
  font-size: 20px;
  margin: 0 20px 0 20px;
  color: #f4f3ef;
  text-align: justify;
}

#why .item i {
  font-size: 40px;
  color: #fb3a0e;
}

#why .item h2 {
  font-weight: normal;
  margin-top: 13px;
  margin-bottom: 20px;
  font-size: 24px;
}

#why .item {
  padding-top: 36px;
  margin-top: 36px;
}

#why .item p {
  color: #006847;
}

.dark-section {
  background-color: #a2770a;
}

#choose {
  padding-top: 36px;
  color: rgb(206,17,38);
  font-size: 64px;
  padding-bottom: 36px;
}

#logo {
  max-height: 42px;
  margin-right: 10px;
  margin-top: -3px;
  display: inline-block;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  background-color: rgb(206,17,38);
  border-color: transparent;
}

p {
  font-size: 24px;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 900;
  color: #006847;
}

.navbar.navbar-light.navbar-expand-md.fixed-top {
  background-color: #c7c6c4;
}

#why item p {
  color: white;
}

p {
}

h2, .h2 {
  color: rgb(206,17,38);
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
}

#welcome h1 {
  color: #ce1126;
  text-align: center;
}

h1, .h1 {
  color: #006847;
}

#welcome {
  /*background: #f68345;*/
}

@media (min-width: 768px) {
  #background-image {
    background-image: url(../../assets/img/maya.jpg);
  }
}

#why {
  background-color: #f4f3ef;
}

#recipes h1 {
  color: #fb3a0e;
}

#recipes {
  padding-top: 50px;
}

#link {
  color: white;
}

footer {
  margin-top: 40px;
}

#sqush-blossom {
  margin-bottom: 30px;
}

#button-chitomate {
  /*margin-top: 22px;*/
}

#button-mole {
  margin-top: 32px;
}

#sqush-blossom-1 {
  margin-top: 30px;
}

#column-mole {
  margin-top: 30px;
}

#button-rice {
  margin-top: 35px;
}

#column-guacamole {
  margin-top: 30px;
}

#column-guacomole {
}

#invite {
  margin-top: -60px;
}

#Sopa-Azteca {
  margin-top: 30px;
}

#barbacoa {
  padding-top: 30px;
}

#mole-h1 {
  font-weight: 900;
}

#al-pastor {
  padding-top: 30px;
}

#button-guacamole {
  margin-top: 45px;
}

#tamales {
  margin-top: 30px;
}

#tumbnail {
}

